:root {
    --primary-color: #122a17;
    --secondary-color: #215c35;
    --styling-color: #f7911e;
    --heading-font-family: "Khand", sans-serif;
    --default-font-family: "Roboto", sans-serif;
}

/* Nav */
.logo {
    width: 110px;
    margin-left: 110px;
}
.container-fluid {
    background-color: white;
    margin-top: -7px;
    margin-bottom: -10px;
}
.navbar-nav {
    position: relative;
    left: 80px;
}
.nav-item {
    font-size: 30px;
    font-family: var(--heading-font-family);
    margin: 0px 40px;
}

/* Main */
h1 {
    color: black;
    font-family: var(--heading-font-family);
}
h2 {
    font-family: var(--heading-font-family);
}
.cover {
    object-fit: cover;
    width: 100%;
    padding: 15px;
    max-height: 600px;
}
.img-service {
    width: 60%;
}
/* Footer */

/* Responsive */
@media (max-width: 900px) {
    img {
        width: 71px;
        margin-left: 15px;
    }
    .nav-item {
        font-size: 18px;
        margin: -8px 0px;
    }
    .navbar-toggler {
        margin-right: 30px;
    }
}
