:root {
    --primary-color: #122a17;
    --secondary-color: #215c35;
    --styling-color: #f7911e;
    --heading-font-family: "Khand", sans-serif;
    --default-font-family: "Roboto", sans-serif;
}

/* Nav */
.logo {
    width: 110px;
    margin-left: 110px;
}
.container-fluid {
    background-color: white;
    margin-top: -7px;
    margin-bottom: -10px;
}
.navbar-nav {
    position: relative;
    left: 80px;
}
.nav-item {
    font-size: 30px;
    font-family: var(--heading-font-family);
    margin: 0px 40px;
}

/* Main */
h1 {
    color: black;
    font-family: var(--heading-font-family);
}
h2,
h6 {
    font-family: var(--heading-font-family);
}
p {
    font-family: var(--default-font-family);
}
.cover-image {
    background-image: url("./images/patrick2-hendry-1ow9zrlldJU-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 600px;
    position: relative;
}
.cover-image .container {
    overflow: hidden;
}
.cover-image h1 {
    color: white;
    position: absolute;
    max-width: 671px;
    bottom: 281px;
    font-size: 69px;
    padding-right: 30px;
    left: 85px;
}
.cover-image h6 {
    color: white;
    position: absolute;
    max-width: 500px;
    bottom: 198px;
    font-size: 25px;
    padding-right: 30px;
    left: 85px;
}
.img-service {
    width: 60%;
}
/* Footer */

/* Responsive */
@media (max-width: 900px) {
    .logo {
        width: 55px;
        margin-left: 5px;
    }
    .navbar-toggler {
        margin-right: 2px;
    }
    .cover-image {
        min-height: 300px;
    }
    .cover-image h1 {
        font-size: 31px;
        left: 21px;
        bottom: 218px;
    }
    .cover-image h6 {
        font-size: 13px;
        left: 21px;
        bottom: 165px;
    }
    .nav-item {
        font-size: 18px;
        margin: -8px 0px;
    }
    .navbar-toggler {
        margin-right: 30px;
    }
}
